.form_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_wrapper h3 {
    justify-self: flex-start;
}

.form_wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px;
    width: 40%;
    height: 400px;
    border-radius: 10px;
    background-color: var(--primary)
}

.form_wrapper label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
}

.form_wrapper label input {
    width: 65%;
    padding: 5px;
    outline: none;
    color: var(--primary);
}

.form_wrapper button {
    margin: 0 auto;
    padding: 5px;
    text-transform: uppercase;
    color: var(--primary);
    width: 60%;
    align-self: flex-end;
    cursor: pointer;
}

.form-validation-error-message {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    background-color: #cc0808;
}
