.movie_details_container {
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 20px 30px;
    height: 450px;
    width: 100%;
    align-items: center;
    background-color: #292841;
    border-bottom: 1px solid lightgray;
}

.movie_details_image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 350px;
    min-width: 250px;
    overflow: hidden;
}

.movie_details_image img {
    width: 100%;
    height: 100%;
}

.movie_details_info_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
    min-height: 350px;
}

.movie_details_title {
    font-size: 26px;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie_details_info {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-content: center;
    overflow: hidden;
    margin: 4px 0;
}

.movie_icons_container {
    display: flex;
    position: absolute;
    right: 25px;
    top: 15px;
    align-self: flex-start;
}

.movie_details_icon {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.favourite {
    fill: red;
}