.movie_container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 240px;
    box-shadow: 0 4px 10px 0 #aaa;
    cursor: pointer;
}

.movie_image {
    object-fit: cover;
    height: 280px;
}

.movie_info_box {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.movie_title {
    font-size: 18px;
    text-transform: capitalize;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie_year {
    justify-self: flex-end;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}